---
title: "Discord Verification"
description: "How to verify your Discord account for NECCDL"
---

As a measure to reduce spam, NECCDL requires all participants to verify their Discord accounts before being allowed into the general NECCDL Discord server.
You can verify your account in one of two ways:

## Verify via the NECCDL Discord Server

You can visit the linked roles section of the NECCDL Discord server click the verification option for the NECCDL verification bot.

{{< image src="/images/discord-instructions/server-dropdown.png" alt="Discord verification login screen" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

Find the role labeled **Verified** that has the NECCDL verification bot icon next to it and click the button to start the verification process.

{{< image src="/images/discord-instructions/discord-linked-roles.png" alt="Discord verification role screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

It will open the NECCDL verification website in your browser. Follow the instructions to verify your account. You will see a prompt to log in with your Discord account and authorize the NECCDL verification bot.

{{< image src="/images/discord-instructions/auth-screen.png" alt="Discord verification login screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

After completing the verification process, you will receive a role in the NECCDL Discord server that grants you access.

{{< image src="/images/discord-instructions/completed.png" alt="Auth completed screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

and in Discord you will see the Verified role added to your account.

{{< image src="/images/discord-instructions/connected-account.png" alt="Discord verification role added screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

## Verify via the Verification Link

Visit [https://discord.cf.neccdl.org/verify](https://discord.cf.neccdl.org/verify) and follow the instructions to verify your account. You will see a prompt to log in with your Discord account and authorize the NECCDL verification bot.
{{< image src="/images/discord-instructions/auth-screen.png" alt="Discord verification login screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}

After completing the verification process, you will receive a role in the NECCDL Discord server that grants you access.

{{< image src="/images/discord-instructions/completed.png" alt="Auth completed screen" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" >}}
